In [ ]:
#find returns -1 or false
#index returns number, if no value, error at substring
#split divides in 2 parts if space found, otherwise pass parameter like split("@")
#id gives address like id(a)
#isspace() checks spaces in string
#strings are immutable

#replace("a","e") ===== a.replace()
#strip() ===== lstrip() ===== rstrip()
#print("{} has score {} runs".format(var,score)) ===== var="virat", score = 95

In [7]:
a = "ASR"
b = 95
print("{} has score {} runs".format(a,b))

ASR has score 95 runs

In [22]:
a
c = str(5)
a+c

b = "gg"
b*5

a
a.replace("A","R")

b = " ASR asr"

In [23]:
v_v = "1 2 3 4 5"
v_v.split()

['1', '2', '3', '4', '5']

In [ ]:
for i in range(0,5)
#start at 0, end at 5
for i in range(0,5,2)
#step 2 = even, 1 = odd

In [26]:
for i in range(0,50,1):
    if i%2 == 0:
        print("{} is even number".format(i))
    else:
        print("{} is odd number".format(i))

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number
21 is odd number
22 is even number
23 is odd number
24 is even number
25 is odd number
26 is even number
27 is odd number
28 is even number
29 is odd number
30 is even number
31 is odd number
32 is even number
33 is odd number
34 is even number
35 is odd number
36 is even number
37 is odd number
38 is even number
39 is odd number
40 is even number
41 is odd number
42 is even number
43 is odd number
44 is even number
45 is odd number
46 is even number
47 is odd number
48 is even number
49 is odd number

In [37]:
a = 0
for i in range(1,21):
    a = a+ i
print(a)

210

In [45]:
a = 1
for i in range(1,7):
    a = a*i
print(a)

720

In [52]:
for row in range(3):
    for col in range(6):
        print("*", end = " ")
    print()

* * * * * *
* * * * * *
* * * * * *

In [55]:
for row in range(6):
    for col in range(3):
        print("*", end = " ")
    print()

* * *
* * *
* * *
* * *
* * *
* * *

In [11]:
a=3
for row in range(0,a+1):
    #loop for row starting at 0, going till 4(a+1)
    
    for col in range(0,row+1):
        #loop for column starting at 0, going till 4(row value+1)
        #value of row is 1, increase by 1 to print 2 stars
        
        print("*", end = " ")
        #printing * and staying in same line while adding space
        
    print()
    #end line after printing each row

*
* *
* * *
* * * *

In [106]:
a=5
b=1
for row in range(1,a+1):
    for col in range(1,b+1):
        print("*", end = " ")
    b+=2
    print()

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [14]:
a=5
for row in range(0,a):
    #range 0 to 4, rows - 0,1,2,3,4
    
    for col in range(0,a-row-1):
        #to find the places where space is to be given that, is (5-0-1=4), range 0 to 4 meaning print space 1 time,
        #then again go in loop where value will be (5-1-1=3), again print space
        #this continues till all the spaces are filled & control goes to column loop to print *
                                                               
        print(end=" ")
        #print space & stay in same line
        
    for col in range(0,row+1):
        #range is from 0 to 1 since at start, row value = 0, prints 1 *
        
        print("*", end = " ")
        #print star
        
    print() 
    #exit loop control goes to next line

#loop working-
#FOR LINE 1--
#FIRST LOOP, range starts from (0 to 5-row value-1) == (0 to 5-0-1=4), print 1 space, after all spaces printed, goto column loop
#SECOND LOOP,range is from 0 to 1 since at start, row value = 0, prints 1 *
#Exit loop to give control to next line

#FOR LINE 2--
#FIRST LOOP, range starts from (0 to 5-row value-1) == (5-1-1=3), print 1 space, after all spaces printed, goto column loop
#SECOND LOOP,range is from 0 to 2 since, new row value = 1, prints 1 * then space

    *
   * *
  * * *
 * * * *
* * * * *

In [5]:
a=5
for row in range(a,0,-1):
    for col in range(0,a-row):
        print(end=" ")
    for col in range(0,row):
        print("*", end = " ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [6]:
a=5
for row in range(0,a):
    for col in range(0,a-row-1):
        print(end=" ")
    for col in range(0,row+1):
        print("*", end = " ")
    print()
for row in range(a,0,-1):
    for col in range(0,a-row):
        print(end=" ")
    for col in range(0,row):
        print("*", end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [8]:
a=4
for row in range(a+1):
    for col in range(row):
        print(row, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4

In [10]:
a=4
for row in range(1,a+1):
    for col in range(1,row+1):
        print(col, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4

In [5]:
for i in range(7):
    for j in range(5):
        if((j==0 or j==4) and i!=0) or ((i==0 or i==3) and (j>0 and j<4)):
            print("*", end =" ")
        else:
            print(end="  ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [11]:
for i in range(7):
    for j in range(5):
        if((j==1 or j==4) and i!=0) or ((i==1 or i==3) and (j>0 and j<4)):
            print("*", end =" ")
        else:
            print(end="  ")
    print()

  * * * *
  *     *
  * * * *
  *     *
  *     *
  *     *

In [1]:
for i in range(7):
    for j in range(5):
        if((j==1 or j==4)) or ((i==3 or i==6 or i==0) and (j>0 and j<4)):
            print("*", end = " ")
        else:
            print(end="   ")
    print()

   * * * *
   *       *
   *       *
   * * * *
   *       *
   *       *
   * * * *

In [47]:
for i in range(7):
    for j in range(5):
        if(j==0 or j==4) or ((i==3 or i==6 or i==0) and (j>0 and j<4)):
            print("*", end = " ")
        else:
            print(end="   ")
    print()

* * * * *
*          *
*          *
* * * * *
*          *
*          *
* * * * *

In [50]:
num = [1,55.55,"abc"]

type(num)

list

In [49]:
print(num)

[1, 55.55, 'abc']

In [51]:
num[::-1]

['abc', 55.55, 1]

In [53]:
n1 = [1,2,3]
n2 = [4,5,6]
n1+n2

[1, 2, 3, 4, 5, 6]

In [54]:
n1 = ["Hello"]
n2 = ["gello",1]
n2[0]

'gello'

In [56]:
n2[0]="Hello"
n2

['Hello', 1]

In [57]:
n1 = ["Hello",1,2,3,555.5,"ggg"]
len(n1)

6

In [59]:
n1.append('python')
n1

['Hello', 1, 2, 3, 555.5, 'ggg', 'python']

In [ ]:
#append takes 1 value

In [60]:
n1.extend([44,'hh'])
n1

['Hello', 1, 2, 3, 555.5, 'ggg', 'python', 44, 'hh']

In [82]:
n1[0]= [55]
n1

[[55], 1, 2, 3, 555.5, 'ggg', 'python', 44, 'hh']

In [2]:
a = int(input())

55

In [3]:
a

55