In [2]:
a = 'Hello world'
print(a.upper())
print(5*2)
print(a.lower())

HELLO WORLD
10
hello world

In [ ]:
import keyword

In [2]:
n = -45
if n>0:
    print("no. is positive")
else:
    print("no is negative")

no is negative

In [3]:
a = "Hello World"
print(a)

Hello World

In [8]:
email = "aaaa@bbb.com"
email[0:4:1]
email[4:12:1]
email[5:8:1]

'bbb'

In [27]:
el = "nishant756@outlook.com"
el[11:18:1]
a = el.index("@")
el[a+1:-4:]

'outlook'

In [28]:
el = "pqrst@yahoo.com"
a = el.index("@")
el[a+1:-4:]

'yahoo'

In [25]:
# AREA OF A THREE SIDE TRIANGLE
a = 5
b = 5
c = 6
p = (a+b+c)/2
area = ((p*(p-a)*(p-b)*(p-c)) ** 0.5)
print(area)

12.0

In [29]:
# CALCULATE AVERAGE MARKS OF 3 STUDENTS
st_1 = 55
st_2 = 89
st_3 = 65
avg = (st_1+st_2+st_3)/3
print(avg)

69.66666666666667

In [32]:
# CALCULATE INCOME TAX OF THE TOTAL INCOME IF TAX IS 18%
inc = 12000
t_inc = inc * 12
tax = (18/100)*t_inc
print("Total income = ", t_inc)
print("Tax Paid = ",tax)

Total income =  144000
Tax Paid =  25920.0

In [39]:
# SI & CI
p_amt = 10000
t = 5
r = 18
SI = (p_amt*r*t)/100
CI = p_amt*((1+r/100)**t-1)
print("Principal amount = ",p_amt)
print("Time = ",t)
print("Rate = ",r)
print("SI = ",SI)
print("CI = ",CI)

Principal amount =  10000
Time =  5
Rate =  18
SI =  9000.0
CI =  12877.577567999995

In [41]:
# ODD - EVEN
a = 11
if (a%2) == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [44]:
# FIND THE GREATEST AMONG THREE NUMBERS
a = 10
b = 14
c = 5
if (a>b) and (a>c):
    print("Greater number is ",a)
elif (b>a) and (b>c):
    print("Greater number is ",b)
else:
    print("Greater number is ",c)

Greater number is  14

In [48]:
# CALCULATE INCOME TAX OF THE TOTAL INCOME
# 3-5L 15% tax, 5-7L 18% tax, 7-9L 21% tax, 9-11L 23% tax

m_inc = 5000
t_inc = m_inc * 12
if (t_inc>=300000) and (t_inc<500000):
    tax = (15/100)*t_inc
    print("Total amount = ",t_inc)
    print("Tax Paid = ",tax)
elif (t_inc>=500000) and (t_inc<700000):
    tax = (18/100)*t_inc
    print("Total amount = ",t_inc)
    print("Tax Paid = ",tax)
elif (t_inc>=700000) and (t_inc<900000):
    tax = (21/100)*t_inc
    print("Total amount = ",t_inc)
    print("Tax Paid = ",tax)
elif (t_inc>=900000) and (t_inc>=1100000):
    tax = (23/100)*t_inc
    print("Total amount = ",t_inc)
    print("Tax Paid = ",tax)
else:
    print("INCOME TAX CANNOT BE CHARGED FOR AMOUNTS BELOW 3L")

INCOME TAX CANNOT BE CHARGED FOR AMOUNTS BELOW 3L