In [1]:
def conv1(a):
    print("Conversion from inch to centimeter")
    if a == 0:
        return "Incorrect Value"
    else:
        return a*2.5
conv1(74)

Conversion from inch to centimeter

185.0

In [3]:
def splice(text):
    if len(text)%2==0:
        return True
    else:
        return False
splice("ASR")

False

In [4]:
a_b = ["ASR","Tokyo","Trap","Microsoft","Nation","Genres"]
s = []
for i in a_b:
    if splice(i):
        s.append(i)
    else:
        pass
s

['Trap', 'Nation', 'Genres']

In [5]:
xyc = ["A.S.R","Aman","Gurpreet Singh","Prabhjeet Singh","ASR","A. Sharma","B. Sharma"]
last = "Singh"
v=0
l1=[]
for i in xyc:
    l = i.split()[-1]
    if l==last:
        v=1
        l1.append(i)
    else:
        next
if v==0:
    print("Not Found")
else:
    print("Names are -- ")
    print(l1)

Names are --
['Gurpreet Singh', 'Prabhjeet Singh']

In [9]:
class human:
    def __init__(self,gender,legs,eyes,hands,ears,nose):
        self.gender = gender
        self.legs = legs
        self.eyes = eyes
        self.hands = hands
        self.ears = ears
        self.nose = nose
    def attrib(self):
        print("Attributes of This Human are -- ",self.gender,self.legs,self.eyes,self.hands,self.ears,self.nose)

h1 = human("MALE","\nLegs = 2,","Eyes = 2,","Ears = 2,","Hands = 2,","Nose = 1\n")
h2 = human("FEMALE","\nLegs = 2,","Eyes = 2,","Ears = 2,","Hands = 2,","Nose = 1\n")
h3 = human("CHILD","\nLegs = 2,","Eyes = 2,","Ears = 1,","Hands = 2,","Nose = 1")
h1.attrib()
h2.attrib()
h3.attrib()

Attributes of This Human are --  MALE
Legs = 2, Eyes = 2, Ears = 2, Hands = 2, Nose = 1

Attributes of This Human are --  FEMALE
Legs = 2, Eyes = 2, Ears = 2, Hands = 2, Nose = 1

Attributes of This Human are --  CHILD
Legs = 2, Eyes = 2, Ears = 1, Hands = 2, Nose = 1

# CAR Only

In [10]:
class cars:
    def __init__(self,types,color,price):
        self.types = types
        self.color = color
        self.price = price
    def typ(self):
        print("\nCar Info is as follows -","\nTYPE - ",self.types,"\nColor - ",self.color,"\nPrice - ",self.price)
print("Wheels = 4")
c1 = cars("SEDAN","White",450000)
c2 = cars("SUV","Red",1200000)
c1.typ()
c2.typ()

Wheels = 4

Car Info is as follows -
TYPE -  SEDAN
Color -  White
Price -  450000

Car Info is as follows -
TYPE -  SUV
Color -  Red
Price -  1200000

# CAR - RTO & INSURANCE

In [11]:
class cars:
    rto = 0
    ins = 0
    def __init__(self,types,color,price):
        self.types = types
        self.color = color
        self.price = price
    def typ(self):
        print("\nCar Info is as follows -",self.types,self.color,"\nPrice - ",self.price)
    def extra(self):
        if self.price>100000 and self.price<600000:
            cars.rto = 3500
            cars.ins = 1200
            print("RTO =",cars.rto,",Insurance =",cars.ins)
        elif self.price>600000 and self.price <1500000:
            cars.rto = 3750
            cars.ins = 1400
            print("RTO =",cars.rto,",Insurance =",cars.ins)
print("Wheels = 4")
c1 = cars("SEDAN","\nColor - White",450000)
c2 = cars("SUV","\nColor - Red",1200000)
c1.typ()
c1.extra()
c2.typ()
c2.extra()

Wheels = 4

Car Info is as follows - SEDAN
Color - White
Price -  450000
RTO = 3500 ,Insurance = 1200

Car Info is as follows - SUV
Color - Red
Price -  1200000
RTO = 3750 ,Insurance = 1400

In [12]:
class emp:
    count = 0
    def __init__(self,name,dept,salary):
        self.name = name
        self.dept = dept
        self.salary = salary
        emp.count += 1
    def details(self):
        print("Name = ",self.name,"\nDepartment = ",self.dept,"\nSalary = ",self.salary,"\n")
        
e1 = emp("ASR","Backend",780000000)
e2 = emp("DAR","HM",54120)
e1.details()
e2.details()
print("Total employees = ",emp.count)

Name =  ASR
Department =  Backend
Salary =  780000000

Name =  DAR
Department =  HM
Salary =  54120

Total employees =  2

In [13]:
class person:
    def __init__(self):
        self.name = "ASR"
        self.age = 24
    def update(self):
        self.age = 26
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False

p1 = person()
p2 = person()
p2.update()
print(p1.name)
print("Age =",p1.age)
p2.name = "QWE"
print(p2.name)
print("Age =",p2.age)

print("\nComparing age -")

if p1.compare(p2):
    print("Same")
else:
    print("Not Same")

ASR
Age = 24
QWE
Age = 26

Comparing age -
Not Same

# HW -
EMPLOYEE - INFO, EXPERIENCE--if inc by 1 yr, salary + 20%, info() to check info

STUDENT - MARKS, compare--who has higher marks, winner-loser

In [14]:
class student:
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def avg(self):
        self.avrg = (self.m1+self.m2+self.m3)/3
        return self.avrg
    def check(self,sec):
        if self.avrg>sec.avrg:
            return True
        else:
            return False

In [15]:
s1 = student(45,78,65)
s2 = student(88,45,61)

In [16]:
s1.avg()

62.666666666666664

In [17]:
s2.avg()

64.66666666666667

In [18]:
if s1.check(s2):
    print("Student 1 is winner")
else:
    print("Student 2 is winner")

Student 2 is winner

# EMPLOYEE

In [19]:
class emp:
    count = 0
    exp = 1
    def __init__(self,name,dept,salary):
        self.name = name
        self.dept = dept
        self.salary = salary
        emp.count += 1
    def details(self):
        print("Name = ",self.name,"\nDepartment = ",self.dept,"\nSalary = ",self.salary,"\nExperience = ",emp.exp,"\n")
    
    @classmethod
    def oldexp(old):
        return old.exp
    
    def newexp(self):
        return self.exp
    
    def change(old,new):
        if old.exp < new.exp:
            return True
        else:
            return False
        
    def info(self):
        print("New details of employee -\n")
        print("Name = ",self.name,"\nDepartment = ",self.dept,"\nSalary = ",self.salary,"\nExperience = ",self.exp,"\n")

In [20]:
e1 = emp("WER","QQQ",40000)
e2 = emp("QWE","SDS",45000)
e3 = emp("VVV","SSS",30000)
e1.details()
e2.details()
e3.details()
print("No. of Employees - ",emp.count)

Name =  WER
Department =  QQQ
Salary =  40000
Experience =  1

Name =  QWE
Department =  SDS
Salary =  45000
Experience =  1

Name =  VVV
Department =  SSS
Salary =  30000
Experience =  1

No. of Employees -  3

In [21]:
e1.details()

Name =  WER
Department =  QQQ
Salary =  40000
Experience =  1

In [22]:
e1.oldexp()

1

In [23]:
e1.exp=2

In [24]:
e1.newexp()

2

In [25]:
if e1.change(e1):
    print("No increment")
else:
    e1.salary += (e1.salary*0.20)
    print("Salary incremented",e1.salary)

Salary incremented 48000.0

In [26]:
e1.info()

New details of employee -

Name =  WER
Department =  QQQ
Salary =  48000.0
Experience =  2

In [27]:
e2.details()

Name =  QWE
Department =  SDS
Salary =  45000
Experience =  1

In [28]:
e2.oldexp()

1

In [29]:
e2.exp=2

In [30]:
e2.newexp()

2

In [31]:
if e2.change(e2):
    print("No increment")
else:
    e2.salary += (e2.salary*0.20)
    print("Salary incremented",e2.salary)

Salary incremented 54000.0

In [32]:
e2.info()

New details of employee -

Name =  QWE
Department =  SDS
Salary =  54000.0
Experience =  2

# INNER CLASS

In [33]:
class Employee:
    
    def __init__(self,name,post,sal):
        self.name=name
        self.post=post
        self.sal=sal
        self.com=self.company()
    
    def show(self):
        print("Employee info -","\nName =",self.name,"\nPost =",self.post,"\nSalary =",self.sal)
        self.com.show()
        
    class company:
        def __init__(self):
            self.cname = "ASR Tech"
            self.branch=30
            self.location="India"
        
        def show(self):
            print("\nComapny Details -","\nCompany Name =",self.cname,"\nCompany Branches =",self.branch,"\nCompany Location =",self.location,"\n")

In [34]:
e1 = Employee("QQQ","ASFD",20000)
e2 = Employee("AAA","SDFD",21000)

In [35]:
e1.show()
e2.show()

Employee info -
Name = QQQ
Post = ASFD
Salary = 20000

Comapny Details -
Company Name = ASR Tech
Company Branches = 30
Company Location = India

Employee info -
Name = AAA
Post = SDFD
Salary = 21000

Comapny Details -
Company Name = ASR Tech
Company Branches = 30
Company Location = India

In [36]:
emp1 = Employee.company()

In [37]:
Employee.company.show(emp1)

Comapny Details -
Company Name = ASR Tech
Company Branches = 30
Company Location = India